.display {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px black solid;
    border-bottom: none;
    height: 60px;
    padding-right: 10px;
    left: 10px;
}

.display-size {
    font-size: 30px;
}

.evaluation-size {
    font-size: 15px;
}