.button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    margin: 2px;
    width: auto;
    min-width: 50px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.button:hover {
    background-color: aliceblue;
}

.button:active {
    background-color: azure;
}

.button.operation {
    font-weight: bold;
    color: cornflowerblue;
}

.button.number {
    font-weight: bold;
    color: black;
}

.button.big {
    height: 106px
}